<html>

<head>
    <title>Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="jquery-1.8.2.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script>
        var module = angular.module("mymodule", []);
        module.controller("mycontroller", function($scope, $http) {
            $scope.jsonArray = [];
            $scope.fetchJsonData = function() {
                loadJSON();
            }

            function loadJSON() {
                $http.get("task-fetch-all-username.php?uname=" + $scope.seluname).then(OkFx, notOkFx);

                function OkFx(result) {
                    $scope.jsonArray = result.data;
                }

                function notOkFx(result) {
                    alert(result.data);
                }
            }
            $scope.unameArray = [];
            $scope.seluname = "none";
            $scope.loaduname = function() {
                $http.get("task-fetch-all.php").then(OkFx, notOkFx);

                function OkFx(result) {
                    $scope.unameArray = result.data;
                }

                function notOkFx(result) {
                    alert(result.data);
                }
            }
            $scope.selObj;
            $scope.showDetails = function(index) {
                $scope.selObj = $scope.jsonArray[index];
            }
        });

    </script>
</head>

<body ng-app="mymodule" ng-controller="mycontroller" ng-init="loaduname();" style="background-color: #EAF2F8;">
    <nav class="navbar navbar-light" style="background-color: #2874A6;">
        <a class="navbar-brand mx-auto" style="color:white;">
            <h3>Select any Username</h3>
        </a>
    </nav>
    <center>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    Select Username:
                    <select ng-model="seluname">
                        <option value="none">Select</option>
                        <option value="{{obj.uname}}" ng-repeat="obj in unameArray">{{obj.uname}}</option>
                    </select>
                    <input type="button" value="Fetch All" ng-click="fetchJsonData();">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3" ng-repeat="obj in jsonArray">
                    <div class="card mt-5" style="box-shadow: 0px 0px 10px 5px #2874A6;">
                        <img class="card-img-top" src="{{obj.image}}" height="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><b>Name:</b> {{obj.name}}</h5>
                            <p class="card-text"><b>E-Mail ID: </b> {{obj.email}}</p>
                            <p class="card-text"><b>Username: </b> {{obj.uname}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>

</html>
